

/*@font-face*/

@font-face {
    font-family: 'Roboto';
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@font-face {
    font-family: "Gloria";
    src: url(/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
}