

.navbar-toggler-icon {
    border: 1px solid red;
    display: inline-block;
    margin-left: -700%;
    width: 4.1em;
    height: 3.5em;
    content: "";
    background: no-repeat;
    background-size: 100% 100%;
}