@import url("../css/partials/_variables.css");
@import url("../css/fonts.css");
@import url("../css/partials/_global.css");
/*GERAL
*/


/*
NAVEGAÇÃO
*/

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 15px;
    margin-top: 10px;
}

nav ul li {
    text-align: center;
    width: 100%;
}

#profile {
    height: 100vh;
    border: 5px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#profile h2 {
    font-size: 2em;
}

#profile .line {
    color: white;
}

#profile h1 {
    text-align: center;
    margin: 4px;
    font-size: 4em;
}

#profile p {
    font-size: 1.5em;
}

#text p {
    text-align: center;
}

#social {
    text-align: center;
    width: 100%;
}

#social button {
    border: 4px solid var(--border-color);
}

footer h4 {
    margin-top: 30px;
    font-size: 20px;
    color: red;
}

/*MEDIA QUERIES P/ PC
*/

@media screen and (min-width: 768px) {
    nav {
        align-items: center;
        align-content: center;
        text-align: center;
    }

    #profile {
        width: 100%;
        align-content: center;
    }

}

@media screen and (min-width: 1500px) {
    nav {
        display: flex;
        flex-direction: column-reverse;
    }

    #profile {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #profile h1 {
        text-align: end;
        margin: 30px;
        font-size: 90px;
    }

    #profile p {
        text-align: unset;
        display: flex;
        flex-wrap: wrap;
    }

    #perfil {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #text p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #perfil img {
        width: 22em;
        border-radius: 170px;
    }


}