@import url(/css/partials/variable.css);

/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: var(--text-global);
    background: var(--background);
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.botao {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    background-color: var(--background-botao);
    font-size: .9em;
    border-radius: 3px;
}

/*
NAVEGAÇÃO
*/

nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > a {
    margin-bottom: 12px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
    cursor: default;
}

nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    color: var(--text-menu);
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

/*
CABEÇALHO
*/

header {
    background-image: url('/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    justify-content: center;
}

header p {
    margin-bottom: 2em;
}

/*
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--suport);
    text-align: center;
    padding: 0 20px 20px;
    color: white;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: var(--background) ;
}

/*
SERVIÇOS
*/

#servicos {
    background-color: white;
    color: var(--background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*
PORTFOLIO
*/

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#portfolio h2 {
    color: var(--text-green);
    font-size: 6em;
    margin-bottom: 20px;
}

#portfolio img {
    width: 100%;
}

/*
CONTATO
*/

#contato {
    background-color: #fff;
    color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
/*
NAVEGAÇÃO
*/

    nav {
        /*colocar a logo ao do lado menu <esquerdo>*/
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 50%;
    }

/*
SOBRE
*/

    #sobre {
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

/*
SERVIÇOS
*/

    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 20px auto;
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
    }

    #servicos div {
        flex-grow: 1;
        flex-basis: 250px;
        padding: 0 10px;
    }
/*
SERVIÇOS
*/

    #portfolio {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #portfolio h2 {
        text-align: center;
        width: 100%;
    }

    #portfolio img {
        width: 33%;
        margin: auto;
    }

/*
CONTATO
*/

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2,
    #contato p { 
        width: 100%;

    }

}
