body {
    font-family: var(--roboto), Helvetica, Arial, sans-serif;
    color: var(--text-global);
    background: var(--background);
    height: 100vh;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 h1 span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1:hover span {
    animation: shuffle steps(1) 0.2s infinite;
}

@keyframes shuffle {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(-600px) ;
    }
}

p::after {
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1.5;
    }

}

/* Buttons */ 


.botao {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    background-color: var(--background-botao);
    font-size: .9em;
    border-radius: 3px;
}

.button-menu {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 500px;
    margin: 1rem;
    padding: 0.5em;
}   

.button-menu:hover {
    background-color: var(--background);
    border: 3px solid white;
    color: white;
}


.button{
    margin: 1rem;
    padding: .6rem 2.0rem;
    font: normal 500 16px/20px sans-serif;
    border: 3px solid transparent;
    border-radius: 500px;
}

.button a i {
    color: #fff;
}

.button.login-button {
    background: var(--primary-color);
}

.button.login-button:hover {
    background: var(--primary-color2);
}



.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    border-radius: 0 15px 0 15px;
    transition: background .6ms ease;
    background: var(--gradient-color2);
    background-clip: padding-box;
    color: white;
}

.button.secondary-button{
    background: var(--gradient-color2);
    color: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    border-radius: 0 15px 0 15px;
    background: var(--gradient-color);
    color: whitesmoke;
    background-clip: padding-box;
    box-shadow: var(--box-shadow);
}


.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

/*
profile
*/

.img {
    width: 17rem;
    border-radius: 150px;
    max-width: 350px;
}

#profile h2, h1, p {
    color: var(--primary-color); 
}