

/* Global Classes */ 

.title-text{
    font-family: var(--roboto);
    color: lightgreen;
    font-size: 2.6em;
}

/* Buttons */ 


.button{
    margin: 1rem;
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px sans-serif;
    position: relative;
    border: 3px solid transparent;
    border-radius: 500px;
}

.button a i {
    color: #fff;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    border-radius: 0 15px 0 15px;
    transition: background .6ms ease;
    background: var(--gradient-color2);
    background-clip: padding-box;
    color: white;
}

.button.secondary-button{
    background: var(--gradient-color2);
    color: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    border-radius: 0 15px 0 15px;
    background: var(--gradient-color);
    color: whitesmoke;
    background-clip: padding-box;
    box-shadow: var(--box-shadow);
}

p.para{
    text-align: justify;
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}


.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}